<style>
  body {
    background-image: url("../../assets/pictures/blackjacktable.jpg");
    height: 1060px;
    width: 100%;
  }

  .player1 {
    position: absolute;
    top: 750px;
    left: 46%;
    width: 200px;

  }
  .player2 {
    position: absolute;
    top: 650px;
    left: 27%;
    width: 200px;

  }
  .player3 {
    position: absolute;
    top: 450px;
    left: 13%;
    width: 200px;

  }
  .player4 {
    position: absolute;
    top: 650px;
    left: 66%;
    width: 200px;

  }
  .player5 {
    position: absolute;
    top: 450px;
    left: 80%;
    width: 200px;
  }
  .dealer {
    position: absolute;
    top: 50px;
    left: 42%;

  }
  .player1split {
    position: absolute;
    top: 750px;
    left: 51%;
    width: 200px;

  }
  .player2split {
    position: absolute;
    top: 650px;
    left: 32%;
    width: 200px;

  }
  .player3split {
    position: absolute;
    top: 450px;
    left: 18%;
    width: 200px;

  }
  .player4split {
    position: absolute;
    top: 650px;
    left: 71%;
    width: 200px;

  }
  .player5split {
    position: absolute;
    top: 450px;
    left: 85%;
    width: 200px;
  }

  .player1card1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
  }
  .player1card2 {
    position: absolute;
    bottom: 40px;
    left: 0px;
    border: 1px green solid;
  }
  .player1card3 {
    position: absolute;
    bottom: 80px;
    left: 0px;
    border: 1px green solid;
  }
  .player1card4 {
    position: absolute;
    bottom: 120px;
    left: 0px;
    border: 1px green solid;
  }
  .player1card5 {
    position: absolute;
    bottom: 160px;
    left: 0px;
    border: 1px green solid;

  }
  .player1card6 {
    position: absolute;
    bottom: 200px;
    left: 0px;
    border: 1px green solid;

  }
  .player1splitcard1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
  }
  .player1splitcard2 {
    position: absolute;
    bottom: 40px;
    left: 0px;
    border: 1px green solid;
  }
  .player1splitcard3 {
    position: absolute;
    bottom: 80px;
    left: 0px;
    border: 1px green solid;
  }
  .player1splitcard4 {
    position: absolute;
    bottom: 120px;
    left: 0px;
    border: 1px green solid;
  }
  .player1splitcard5 {
    position: absolute;
    bottom: 160px;
    left: 0px;
    border: 1px green solid;

  }
  .player1splitcard6 {
    position: absolute;
    bottom: 200px;
    left: 0px;
    border: 1px green solid;

  }
  .player2card1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
  }
  .player2card2 {
    position: absolute;
    bottom: 40px;
    left: 0px;
    border: 1px green solid;
  }
  .player2card3 {
    position: absolute;
    bottom: 80px;
    left: 0px;
    border: 1px green solid;
  }
  .player2card4 {
    position: absolute;
    bottom: 120px;
    left: 0px;
    border: 1px green solid;
  }
  .player2card5 {
    position: absolute;
    bottom: 160px;
    left: 0px;
    border: 1px green solid;

  }
  .player2card6 {
    position: absolute;
    bottom: 200px;
    left: 0px;
    border: 1px green solid;

  }

  .player2splitcard1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
  }
  .player2splitcard2 {
    position: absolute;
    bottom: 40px;
    left: 0px;
    border: 1px green solid;
  }
  .player2splitcard3 {
    position: absolute;
    bottom: 80px;
    left: 0px;
    border: 1px green solid;
  }
  .player2splitcard4 {
    position: absolute;
    bottom: 120px;
    left: 0px;
    border: 1px green solid;
  }
  .player2splitcard5 {
    position: absolute;
    bottom: 160px;
    left: 0px;
    border: 1px green solid;

  }
  .player2splitcard6 {
    position: absolute;
    bottom: 200px;
    left: 0px;
    border: 1px green solid;

  }

  .player3card1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
  }
  .player3card2 {
    position: absolute;
    bottom: 40px;
    left: 0px;
    border: 1px green solid;
  }
  .player3card3 {
    position: absolute;
    bottom: 80px;
    left: 0px;
    border: 1px green solid;
  }
  .player3card4 {
    position: absolute;
    bottom: 120px;
    left: 0px;
    border: 1px green solid;
  }
  .player3card5 {
    position: absolute;
    bottom: 160px;
    left: 0px;
    border: 1px green solid;

  }
  .player3card6 {
    position: absolute;
    bottom: 200px;
    left: 0px;
    border: 1px green solid;

  }

  .player3splitcard1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
  }
  .player3splitcard2 {
    position: absolute;
    bottom: 40px;
    left: 0px;
    border: 1px green solid;
  }
  .player3splitcard3 {
    position: absolute;
    bottom: 80px;
    left: 0px;
    border: 1px green solid;
  }
  .player3splitcard4 {
    position: absolute;
    bottom: 120px;
    left: 0px;
    border: 1px green solid;
  }
  .player3splitcard5 {
    position: absolute;
    bottom: 160px;
    left: 0px;
    border: 1px green solid;

  }
  .player3splitcard6 {
    position: absolute;
    bottom: 200px;
    left: 0px;
    border: 1px green solid;

  }

  .player4card1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
  }
  .player4card2 {
    position: absolute;
    bottom: 40px;
    left: 0px;
    border: 1px green solid;
  }
  .player4card3 {
    position: absolute;
    bottom: 80px;
    left: 0px;
    border: 1px green solid;
  }
  .player4card4 {
    position: absolute;
    bottom: 120px;
    left: 0px;
    border: 1px green solid;
  }
  .player4card5 {
    position: absolute;
    bottom: 160px;
    left: 0px;
    border: 1px green solid;

  }
  .player4card6 {
    position: absolute;
    bottom: 200px;
    left: 0px;
    border: 1px green solid;

  }

  .player4splitcard1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
  }
  .player4splitcard2 {
    position: absolute;
    bottom: 40px;
    left: 0px;
    border: 1px green solid;
  }
  .player4splitcard3 {
    position: absolute;
    bottom: 80px;
    left: 0px;
    border: 1px green solid;
  }
  .player4splitcard4 {
    position: absolute;
    bottom: 120px;
    left: 0px;
    border: 1px green solid;
  }
  .player4splitcard5 {
    position: absolute;
    bottom: 160px;
    left: 0px;
    border: 1px green solid;

  }
  .player4splitcard6 {
    position: absolute;
    bottom: 200px;
    left: 0px;
    border: 1px green solid;

  }

  .player5card1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
  }
  .player5card2 {
    position: absolute;
    bottom: 40px;
    left: 0px;
    border: 1px green solid;
  }
  .player5card3 {
    position: absolute;
    bottom: 80px;
    left: 0px;
    border: 1px green solid;
  }
  .player5card4 {
    position: absolute;
    bottom: 120px;
    left: 0px;
    border: 1px green solid;
  }
  .player5card5 {
    position: absolute;
    bottom: 160px;
    left: 0px;
    border: 1px green solid;

  }
  .player5card6 {
    position: absolute;
    bottom: 200px;
    left: 0px;
    border: 1px green solid;

  }

  .player5splitcard1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
  }
  .player5splitcard2 {
    position: absolute;
    bottom: 40px;
    left: 0px;
    border: 1px green solid;
  }
  .player5splitcard3 {
    position: absolute;
    bottom: 80px;
    left: 0px;
    border: 1px green solid;
  }
  .player5splitcard4 {
    position: absolute;
    bottom: 120px;
    left: 0px;
    border: 1px green solid;
  }
  .player5splitcard5 {
    position: absolute;
    bottom: 160px;
    left: 0px;
    border: 1px green solid;

  }
  .player5splitcard6 {
    position: absolute;
    bottom: 200px;
    left: 0px;
    border: 1px green solid;

  }



  .dealercard1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
  }
  .dealercard2 {
    position: absolute;
    bottom: 0px;
    left: 40px;
    border: 1px green solid;
  }
  .dealercard3 {
    position: absolute;
    bottom: 0px;
    left: 80px;
    border: 1px green solid;
  }
  .dealercard4 {
    position: absolute;
    bottom: 0px;
    left: 120px;
    border: 1px green solid;
  }
  .dealercard5 {
    position: absolute;
    bottom: 0px;
    left: 160px;
    border: 1px green solid;
  }
  .btn btn-success{
    position: absolute;
    top: 500px;
  }

  .btncontainer{
    position: absolute;
    top: 95%;
    left: 42%;
  }

</style>


<body>

  <div>
    <div class="container-fluid">
      <div class="player1">
        <img class="player1card1" src={{this.blackjackGameService.blackjackgame.currentRound.players[0].cards[0].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[0].cards[0];">
        <img class="player1card2" src={{this.blackjackGameService.blackjackgame.currentRound.players[0].cards[1].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[0].cards[1];">
        <img class="player1card3" src={{this.blackjackGameService.blackjackgame.currentRound.players[0].cards[2].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[0].cards[2];">
        <img class="player1card4" src={{this.blackjackGameService.blackjackgame.currentRound.players[0].cards[3].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[0].cards[3];">
        <img class="player1card5" src={{this.blackjackGameService.blackjackgame.currentRound.players[0].cards[4].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[0].cards[4];">
        <img class="player1card6" src={{this.blackjackGameService.blackjackgame.currentRound.players[0].cards[5].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[0].cards[5];">
        <label style="position: relative; text-decoration-color: #24292e; left: -60px; bottom: -90px">{{this.blackjackGameService.blackjackgame.currentRound.players[0].totalCardPoints}}</label>
        <label>{{this.blackjackGameService.blackjackgame.currentRound.players[0].currentBet}}</label>
      </div>
      <div class="player1split" *ngIf="blackjackGameService.blackjackgame.currentRound.players[0].splitCards[0];">
        <img class="player1splitcard1" src={{this.blackjackGameService.blackjackgame.currentRound.players[0].splitCards[0].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[0].splitCards[0];">
        <img class="player1splitcard2" src={{this.blackjackGameService.blackjackgame.currentRound.players[0].splitCards[1].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[0].splitCards[1];">
        <img class="player1splitcard3" src={{this.blackjackGameService.blackjackgame.currentRound.players[0].splitCards[2].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[0].splitCards[2];">
        <img class="player1splitcard4" src={{this.blackjackGameService.blackjackgame.currentRound.players[0].splitCards[3].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[0].splitCards[3];">
        <img class="player1splitcard5" src={{this.blackjackGameService.blackjackgame.currentRound.players[0].splitCards[4].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[0].splitCards[4];">
        <img class="player1splitcard6" src={{this.blackjackGameService.blackjackgame.currentRound.players[0].splitCards[5].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[0].splitCards[5];">
        <label style="position: relative; text-decoration-color: #24292e; left: -60px; bottom: -90px">{{this.blackjackGameService.blackjackgame.currentRound.players[0].totalSplitCardPoints}}</label>

      </div>
      <div class="player2" *ngIf="blackjackGameService.blackjackgame.currentRound.players[1];">
        <img class="player2card1" src={{this.blackjackGameService.blackjackgame.currentRound.players[1].cards[0].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[1].cards[0];">
        <img class="player2card2" src={{this.blackjackGameService.blackjackgame.currentRound.players[1].cards[1].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[1].cards[1];">
        <img class="player2card3" src={{this.blackjackGameService.blackjackgame.currentRound.players[1].cards[2].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[1].cards[2];">
        <img class="player2card4" src={{this.blackjackGameService.blackjackgame.currentRound.players[1].cards[3].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[1].cards[3];">
        <img class="player2card5" src={{this.blackjackGameService.blackjackgame.currentRound.players[1].cards[4].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[1].cards[4];">
        <img class="player2card6" src={{this.blackjackGameService.blackjackgame.currentRound.players[1].cards[5].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[1].cards[5];">
        <label style="position: relative; text-decoration-color: #24292e; left: -60px; bottom: -90px">{{this.blackjackGameService.blackjackgame.currentRound.players[1].totalCardPoints}}</label>
        <label>{{this.blackjackGameService.blackjackgame.currentRound.players[1].currentBet}}</label>

      </div>
      <div class="player2split" *ngIf="blackjackGameService.blackjackgame.currentRound.players[1];">
        <img class="player1splitcard1" src={{this.blackjackGameService.blackjackgame.currentRound.players[1].splitCards[0].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[1].splitCards[0];">
        <img class="player1splitcard2" src={{this.blackjackGameService.blackjackgame.currentRound.players[1].splitCards[1].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[1].splitCards[1];">
        <img class="player1splitcard3" src={{this.blackjackGameService.blackjackgame.currentRound.players[1].splitCards[2].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[1].splitCards[2];">
        <img class="player1splitcard4" src={{this.blackjackGameService.blackjackgame.currentRound.players[1].splitCards[3].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[1].splitCards[3];">
        <img class="player1splitcard5" src={{this.blackjackGameService.blackjackgame.currentRound.players[1].splitCards[4].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[1].splitCards[4];">
        <img class="player1splitcard6" src={{this.blackjackGameService.blackjackgame.currentRound.players[1].splitCards[5].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[1].splitCards[5];">
        <label style="position: relative; text-decoration-color: #24292e; left: -60px; bottom: -90px" *ngIf="blackjackGameService.blackjackgame.currentRound.players[1].splitCards[0];">{{this.blackjackGameService.blackjackgame.currentRound.players[1].totalSplitCardPoints}}</label>

      </div>
      <div class="player3" *ngIf="blackjackGameService.blackjackgame.currentRound.players[2];">
        <img class="player3card1" src={{this.blackjackGameService.blackjackgame.currentRound.players[2].cards[0].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[2].cards[0];">
        <img class="player3card2" src={{this.blackjackGameService.blackjackgame.currentRound.players[2].cards[1].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[2].cards[1];">
        <img class="player3card3" src={{this.blackjackGameService.blackjackgame.currentRound.players[2].cards[2].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[2].cards[2];">
        <img class="player3card4" src={{this.blackjackGameService.blackjackgame.currentRound.players[2].cards[3].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[2].cards[3];">
        <img class="player3card5" src={{this.blackjackGameService.blackjackgame.currentRound.players[2].cards[4].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[2].cards[4];">
        <img class="player3card6" src={{this.blackjackGameService.blackjackgame.currentRound.players[2].cards[5].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[2].cards[5];">
        <label style="position: relative; text-decoration-color: #24292e; left: -60px; bottom: -90px">{{this.blackjackGameService.blackjackgame.currentRound.players[2].totalCardPoints}}</label>
        <label>{{this.blackjackGameService.blackjackgame.currentRound.players[2].currentBet}}</label>

      </div>
      <div class="player3split" *ngIf="blackjackGameService.blackjackgame.currentRound.players[2];" >
        <img class="player3splitcard1" src={{this.blackjackGameService.blackjackgame.currentRound.players[2].splitCards[0].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[2].splitCards[0];">
        <img class="player3splitcard2" src={{this.blackjackGameService.blackjackgame.currentRound.players[2].splitCards[1].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[2].splitCards[1];">
        <img class="player3splitcard3" src={{this.blackjackGameService.blackjackgame.currentRound.players[2].splitCards[2].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[2].splitCards[2];">
        <img class="player3splitcard4" src={{this.blackjackGameService.blackjackgame.currentRound.players[2].splitCards[3].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[2].splitCards[3];">
        <img class="player3splitcard5" src={{this.blackjackGameService.blackjackgame.currentRound.players[2].splitCards[4].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[2].splitCards[4];">
        <img class="player3splitcard6" src={{this.blackjackGameService.blackjackgame.currentRound.players[2].splitCards[5].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[2].splitCards[5];">
        <label style="position: relative; text-decoration-color: #24292e; left: -60px; bottom: -90px" *ngIf="blackjackGameService.blackjackgame.currentRound.players[2].splitCards[0];">{{this.blackjackGameService.blackjackgame.currentRound.players[2].totalSplitCardPoints}}</label>

      </div>
      <div class="player4" *ngIf="blackjackGameService.blackjackgame.currentRound.players[3];">
        <img class="player4card1" src={{this.blackjackGameService.blackjackgame.currentRound.players[3].cards[0].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[3].cards[0];">
        <img class="player4card2" src={{this.blackjackGameService.blackjackgame.currentRound.players[3].cards[1].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[3].cards[1];">
        <img class="player4card3" src={{this.blackjackGameService.blackjackgame.currentRound.players[3].cards[2].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[3].cards[2];">
        <img class="player4card4" src={{this.blackjackGameService.blackjackgame.currentRound.players[3].cards[3].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[3].cards[3];">
        <img class="player4card5" src={{this.blackjackGameService.blackjackgame.currentRound.players[3].cards[4].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[3].cards[4];">
        <img class="player4card6" src={{this.blackjackGameService.blackjackgame.currentRound.players[3].cards[5].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[3].cards[5];">
        <label style="position: relative; text-decoration-color: #24292e; left: -60px; bottom: -90px">{{this.blackjackGameService.blackjackgame.currentRound.players[3].totalCardPoints}}</label>
        <label>{{this.blackjackGameService.blackjackgame.currentRound.players[3].currentBet}}</label>

      </div>
      <div class="player4split" *ngIf="blackjackGameService.blackjackgame.currentRound.players[3];">
        <img class="player4splitcard1" src={{this.blackjackGameService.blackjackgame.currentRound.players[3].splitCards[0].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[3].splitCards[0];">
        <img class="player4splitcard2" src={{this.blackjackGameService.blackjackgame.currentRound.players[3].splitCards[1].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[3].splitCards[1];">
        <img class="player4splitcard3" src={{this.blackjackGameService.blackjackgame.currentRound.players[3].splitCards[2].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[3].splitCards[2];">
        <img class="player4splitcard4" src={{this.blackjackGameService.blackjackgame.currentRound.players[3].splitCards[3].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[3].splitCards[3];">
        <img class="player4splitcard5" src={{this.blackjackGameService.blackjackgame.currentRound.players[3].splitCards[4].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[3].splitCards[4];">
        <img class="player4splitcard6" src={{this.blackjackGameService.blackjackgame.currentRound.players[3].splitCards[5].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[3].splitCards[5];">
        <label style="position: relative; text-decoration-color: #24292e; left: -60px; bottom: -90px" *ngIf="blackjackGameService.blackjackgame.currentRound.players[3].splitCards[0];">{{this.blackjackGameService.blackjackgame.currentRound.players[3].totalSplitCardPoints}}</label>

      </div>
      <div class="player5" *ngIf="blackjackGameService.blackjackgame.currentRound.players[4]">
        <img class="player5card1" src={{this.blackjackGameService.blackjackgame.currentRound.players[4].cards[0].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[4].cards[0];">
        <img class="player5card2" src={{this.blackjackGameService.blackjackgame.currentRound.players[4].cards[1].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[4].cards[1];">
        <img class="player5card3" src={{this.blackjackGameService.blackjackgame.currentRound.players[4].cards[2].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[4].cards[2];">
        <img class="player5card4" src={{this.blackjackGameService.blackjackgame.currentRound.players[4].cards[3].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[4].cards[3];">
        <img class="player5card5" src={{this.blackjackGameService.blackjackgame.currentRound.players[4].cards[4].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[4].cards[4];">
        <img class="player5card6" src={{this.blackjackGameService.blackjackgame.currentRound.players[4].cards[5].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[4].cards[5];">
        <label style="position: relative; text-decoration-color: #24292e; left: -60px; bottom: -90px">{{this.blackjackGameService.blackjackgame.currentRound.players[4].totalCardPoints}}</label>
        <label>{{this.blackjackGameService.blackjackgame.currentRound.players[4].currentBet}}</label>

      </div>
      <div class="player5split" *ngIf="blackjackGameService.blackjackgame.currentRound.players[4]">
        <img class="player5splitcard1" src={{this.blackjackGameService.blackjackgame.currentRound.players[4].splitCards[0].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[4].splitCards[0];">
        <img class="player5splitcard2" src={{this.blackjackGameService.blackjackgame.currentRound.players[4].splitCards[1].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[4].splitCards[1];">
        <img class="player5splitcard3" src={{this.blackjackGameService.blackjackgame.currentRound.players[4].splitCards[2].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[4].splitCards[2];">
        <img class="player5splitcard4" src={{this.blackjackGameService.blackjackgame.currentRound.players[4].splitCards[3].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[4].splitCards[3];">
        <img class="player5splitcard5" src={{this.blackjackGameService.blackjackgame.currentRound.players[4].splitCards[4].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[4].splitCards[4];">
        <img class="player5splitcard6" src={{this.blackjackGameService.blackjackgame.currentRound.players[4].splitCards[5].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.players[4].splitCards[5];">
        <label style="position: relative; text-decoration-color: #24292e; left: -60px; bottom: -90px">{{this.blackjackGameService.blackjackgame.currentRound.players[4].totalSplitCardPoints}}</label>

      </div>
    </div>
    <div class="container-fluid">
      <div class="dealer">
        <img class="dealercard1" src={{this.blackjackGameService.blackjackgame.currentRound.dealer.cards[0].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.dealer.cards[0];">
        <img class="dealercard2" [src]="blackjackGameService.showSecondCard != true ? '../../assets/pictures/cards/gray_back.png' : blackjackGameService.blackjackgame.currentRound.dealer.cards[1].cardPictureUrl">
        <img class="dealercard3" src={{this.blackjackGameService.blackjackgame.currentRound.dealer.cards[2].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.dealer.cards[2];">
        <img class="dealercard4" src={{this.blackjackGameService.blackjackgame.currentRound.dealer.cards[3].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.dealer.cards[3];">
        <img class="dealercard5" src={{this.blackjackGameService.blackjackgame.currentRound.dealer.cards[4].cardPictureUrl}} *ngIf="blackjackGameService.blackjackgame.currentRound.dealer.cards[4];">
        <label style="position: relative; text-decoration-color: #24292e; left: -60px; bottom: -90px">{{this.blackjackGameService.dealerShowCorrectPoints()}}</label>
      </div>

    </div>

    <!--<button type="button" class="btn btn-success btn-lg" (click)="test()">log</button>
    <button type="button" class="btn btn-success btn-lg" (click)="this.blackjackGameService.getGame()">get</button>

    <button type="button" class="btn btn-success btn-lg" (click)="this.blackjackGameService.connect()">connect game</button>
    <button type="button" class="btn btn-success btn-lg" (click)="dealcards()">deal game</button>
    <button type="button" class="btn btn-success btn-lg" (click)="testaddplayer(2)">add player1</button>
    <button type="button" class="btn btn-success btn-lg" (click)="testaddplayer(3)">add player2</button>
    <button type="button" class="btn btn-success btn-lg" (click)="testaddplayer(4)">add player3</button>
    <button type="button" class="btn btn-success btn-lg" (click)="testaddplayer(5)">add player4</button>-->





  </div>
</body>


